#!/usr/bin/make -f

# Remember to comment this before tagging for a release.
DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

export MONO_SHARED_DIR = $(CURDIR)/debian

DEB_MAKE_CLEAN_TARGET := clean
DEB_MAKE_BUILD_TARGET := drohne.exe
DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(CURDIR)/debian/drohne PREFIX=/usr
DEB_MAKE_CHECK_TARGET :=

common-binary-indep::
	dh_clideps
	dh_desktop

clean::
	rm -rf $(CURDIR)/debian/.wapi
